.clientrecord {
  .clientrecord-title {
    background: #E6E6E6;
    padding: 25px 30px;

    .picker {
      display: inline;
      background: white;
      color: #666666;
      font-size: 26px;
      padding: 10px 20px;
      border-radius: 100px;
    }
  }

  .content-box {
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #DCDCDC;
    .td {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 170px;
      border-right: 1px solid #DCDCDC;
      flex: 1;
      position: relative;
      &:last-child {
        border: none;
        padding-right: 0;
        border-bottom: 1px solid #F12737;
        height: 50px;
        width: 100px;
        flex: none;
        margin: 0 45px;
      }
      &:first-child {
        padding-left: 0;
      }
      .c--010{
        margin-top: 20px;
      }
    }
  }
  .toast-footer{
    background: #fff;
    padding: 45px 75px;
    border-radius: 20px;
    .view{
      margin-bottom: 20px;
    }
    .f__size--30{
      margin-bottom: 40px;
      position: relative;
      &:before{
        content: '';
        width: 4px;
        height: 32px;
        background: #F12735;
        position: absolute;
        left: -15px;
        top: 15%;
      }
    }
  }
}
