.about {
  .logo {
    width: 200px;
    height: 200px;
    margin: 80px auto;
    background-color: #EB3939;
  }

  .text {
    padding-left: 5%;
    padding-right: 5%;
    line-height: 50px;
    font-size: 30px;
    color: #444;
  }
}
