.index {
  height: 100%;
  min-height: 120vh;
  background-color: #f2f2f2;

  .banner {
    width: 94%;
    display: block;
    margin: 20px auto;
  }

  .grid-nav {
    margin: 3% 3% 40px 3%;
    border-radius: 20px;
    overflow: hidden;

    .at-grid {
      padding-top: 10px;
    }

    .at-grid__flex-item {
      height: 180px;
    }
  }
}

.btn {
  border: none;
  display: flex;
  align-items: center;
  margin-left: auto;

  &:after {
    border: none;
  }
}
