.index{
  min-height:150vh;
  background: #f8f8f8;
  position: relative;
  .tab--content{
    position: relative;
    top: 280px;
    .at-tabs__item-underline{
      width: 15%;
      left: 42.5%;
      height: 7px;
      border-radius: 20PX;
    }
    .at-tabs__header{
      background: transparent;
    }
    .at-tabs__underline{
      height: 0px !important;
    }
  }
  .friend--step{
    display: flex;
    justify-content: space-around;
    position: relative;
    .view{
      background: #F12737;
      margin: 0 auto;
      width: 60px;
      height: 60px;
      padding: 22px;
      border-radius: 50%;
      margin-bottom: 20px;
      position: relative;
    }
  }
}
