.header {
  padding: 20px 0 20px 3%;
  height: 300px;
  border-radius: 0 0 30% 30%;
  background: linear-gradient(180deg, #F12737, rgba(235, 107, 57, 1));

  .user {
    margin-left: 30px;
    color: white;

    &__id {
      display: block;
      margin-top: 10px;
      font-size: 26px;
      color: #f0f0f0;
    }

    &__icon {
      width: 36px;
      height: 36px;
      margin-left: 18px;
    }
  }


  .btn-switch {
    background: #FFCC00;
    color: white;
    border-radius: 50px 0 0 50px;
    height: 60px;
    font-size: 28px;
    margin-right: 0;
  }
}
