.index {
  min-height: 100vh;
  background-color: #f2f2f2;

  .btn-edit {
    border: none;
    background: none;
    color: #EB3939;
    font-size: 28px;
    margin: 0 0 0 auto;

    &:after {
      border: none;
    }
  }

  .cart {
    &__item {
      display: flex;
      align-items: center;
      background-color: white;
      margin: 20px 3%;
      border-radius: 6px;
      padding: 20px 10px;

      &:first-child {
        margin-top: 8px;
      }
    }

    &__content {
      flex: 1;
      position: relative;
      margin-left: 30px;
      width: 100%;
      height: 170px;

      .name {
        font-size: 32px;
        font-weight: 500;
        color: #000;
      }

      .sku {
        color: #888;
        font-size: 28px;
        padding-top: 6px;
        padding-bottom: 8px;
      }

      .price {
        position: absolute;
        left: 0;
        bottom: 0;
        color: #EB3939;
        font-size: 32px;
      }

    }
  }

  .goods {
    &__cover {
      width: 188px;
      height: 170px;
      object-fit: cover;
      border-radius: 6px;
      flex-shrink: 0;
    }
  }

  .footer {
    height: 100px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;

    .btn {
      width: 232px;
      height: 80px;
      background: rgba(241, 39, 55, 1);
      border-radius: 40px;
      color: white;
      font-size: 32px;
      margin-left: 40px;
      line-height: 80px;
    }
  }
}

.btn-del {
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0 10px;
  top: 0;
  background: none;
  border: none;

  &:after {
    border: none;
  }
}

.input-number {
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  align-items: center;
  font-size: 28px;

  .at-input-number__input, .at-input-number input {
    border: none;
    width: 60px;
    height: 10px;
    font-size: 26px;
  }

  .at-input-number__btn {
    background-color: #EB3939;
    font-size: 26px;
    width: 10px;
    height: 10px;
    line-height: 10px;
    border-radius: 0;

    .at-icon {
      color: white;
      font-size: 20px;
    }
  }

  .at-input-number--disabled {
    background-color: #f2f2f2;

    .at-icon {
      color: #888
    }
  }
}

.checkbox {
  display: block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-right: 16px;
  margin-left: 16px;
  border: 1px solid #EB3939;

  &.checked {
    background-color: #EB3939;
  }
}

.btn-go-shop {
  margin: 40px auto 100px auto;
  text-align: center;
  background: none;
  width: 260px;
  height: 40px;
  line-height: 40px;
  color: #EB3939;
  font-size: 26px;
  letter-spacing: 2px;
  border: 1px solid #EB3939;
  border-radius: 20px;

  &:after {
    border: none;
  }
}


.result {
  padding-top: 2vh;

  .state-tip__img {
    width: 180px;
    height: 180px;
  }

  .text {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;

    &.desc {
      color: #888;
      font-size: 28px;
    }
  }

  .btns {
    display: flex;
    align-items: center;
    justify-content: center;

    .back-order {
      width: 240px;
      height: 70px;
      line-height: 70px;
      text-align: center;
      border: 2px solid rgba(241, 39, 55, 1);
      border-radius: 40px;
      color: #EB3939;
      margin: 20px 40px;
    }

    .back-index {
      width: 240px;
      height: 70px;
      line-height: 70px;
      text-align: center;
      border: 2px solid rgba(241, 39, 55, 1);
      background-color: rgba(241, 39, 55, 1);
      border-radius: 40px;
      color: white;
      margin: 20px 40px;
    }
  }

}


