.tgEarnings {
  background: #F0F0F0;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 50px;

  .hx-title {
    height: 240px;
    width: 100%;
    background: #F12737;
  }

  .this-month {
    background: #fff;
    width: calc(92% - 40px);
    margin: 0px 4%;
    padding: 50px 20px;
    border-radius: 20px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 1px 1px 10px 1px #C4C4C4;
  }

  .at-tabs {
    margin-top: -200px;
  }

  .at-tabs__item {
    background: #F12737;
    color: #fff;
    font-size: 30px;
  }

  .at-tabs__item-underline {
    width: 20%;
    margin: 0 40%;
    background-color: #fff;
    height: 4px;
  }

  .at-tabs__underline {
    background-color: #F12737;
  }

  .title-box {
    width: calc(92% - 40px);
    margin: 0px 4%;
    padding: 10px 20px;
    background: #fff;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 1px 1px 10px 1px #C4C4C4;
    .body-nothx {
      border-bottom: 10px solid #F0F0F0;
      padding: 20px 0;

      &:last-child {
        border-bottom: 0;
      }

      .body-heard {
        display: flex;
        align-items: center;
        vertical-align: center;
        padding-bottom: 33px;
        border-bottom: 1px solid #F0F0F0;

        .fr {
          flex: 1;
          text-align: right;
        }

        .img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 15px;
        }
      }

      .body-body {
        padding-bottom: 28px;
        border-bottom: 1px solid #F0F0F0;
        display: flex;
        margin-top: 23px;

        .fr {
          margin-left: auto;
          flex: 1;
          margin-right: auto;
          display: inline-block;
        }

        .img {
          height: 170px;
          border-radius: 10px;
          margin-right: 20px;
        }
      }

      .body-footer {
        padding-top: 23px;
      }
    }
  }
  .earnings-detail{
    background: #fff;
    width: 92%;
    margin: 30px 4%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 10px 1px #C4C4C4;
    .detail-title{
      background: #FAFAFA;
      padding:30px;
      font-size: 30px;
      color: #101010;
    }
    .detail-body{
      padding: 0 30px;
      .view{
        padding: 30px 0;
        border-bottom: 1px solid #C4C4C4;
        &:last-child{
          border: 0;
        }
      }
    }
  }
}
