.fans {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f2f2f2;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__info {
    flex: 1;
    margin-left: 40px;
  }

  .btn {
    color: #EB3939;
    background-color: white;
    border: 1px solid #EB3939;
    border-radius: 50px;
    font-size: 30px;
    line-height: 1;
    padding: 12px 30px;

    &.btn-is-focus {
      color: #888;
      border-color: #888;
    }
  }

}
