.index{
  background: #EBEBEB;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 30px;
  .userItem{
     background: #fff;
     padding: 30px;
    border-bottom: 1px solid #EBEBEB;
    &:first-child{
     border-top: 10px solid #F5F5F5;
    }
    .top{
      margin-bottom: 30px;
    }
    .place-text{
     font-size: 26px;
      color: #666;
    }
    .acquire{
      background: #F12737;
      color: #fff;
      display: inline-block;
      margin-left: auto;
    }
    .phone_box_right{
      margin-left: auto;
    }
  }
  .at-input{
    padding: 0;
    margin-left: 0;
    input{
      font-size: 28px;
    }
  }
}
