.userSet{
  .at-list__item .item-content__info-title{
    color: #333333;
    font-size: 28px;
  }
  .at-list__item .item-extra__info{
    font-size: 28px;
    color: #666666;
  }
  .at-list__item .item-extra__icon-arrow{
    font-size: 35px;
    color: #666;
  }
  .at-list::after{
    border: 0 solid #F5F5F5;
    border-bottom-width: 10PX;
  }
  .at-list__item::after{
    border-bottom: 1PX solid #F5F5F5;
  }
  .setImg{
    display: flex;
    align-items: center;
    padding: 24px;
    border-bottom: 1PX solid #F5F5F5;
    .img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
  .vipLevel{
    .view{
      display: inline-block;
      margin-left:auto;
      background: linear-gradient(top,#FFAF00,#FFCF00);
      border-radius: 50%;
      padding: 5px;
      position: relative;
    }
    .item-extra__icon{
      right: 13px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
    }
  }
}
