.index {
  min-height: 100vh;
  background-color: #f2f2f2;

  .page-header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    //position: fixed;
    //top: 0;
    //left: 0;
    //right: 0;
    //z-index: 999;

    .tabs {
      position: absolute;
      left: calc((100% - 120px * 2) / 2);

      .btn {
        border: none;
        background: none;
        padding: 0;
        display: inline-block;
        font-size: 32px;
        width: 100px;
        margin: 0 10px;

        &:after {
          border: none;
        }

        &.current {
          color: #EB3939;
        }
      }
    }
  }


    .waiting-input {
      width: 691px;
      height: 60px;
      background: rgba(242, 242, 242, 1);
      border-radius: 10px;
      position: fixed;
      bottom: 1vh;
      left: 3%;
      right: 3%;
      padding: 10px;
      font-size: 26px;
    }


}
