.index {
  height: 100%;
  min-height: 100vh;
  background-color: #f2f2f2;

  // 页面顶部切换选项卡
  .page-header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    //position: fixed;
    //top: 0;
    //left: 0;
    //right: 0;
    //z-index: 999;

    .tabs {
      position: absolute;
      left: calc((100% - 120px * 2) / 2);

      .btn {
        border: none;
        background: none;
        padding: 0;
        display: inline-block;
        font-size: 32px;
        width: 100px;
        margin: 0 10px;

        &:after {
          border: none;
        }

        &.current {
          color: #EB3939;
        }
      }
    }
  }


  // 等待输入框
  .waiting-input {
    width: 691px;
    height: 60px;
    background: rgba(242, 242, 242, 1);
    border-radius: 10px;
    position: fixed;
    bottom: 1vh;
    left: 3%;
    right: 3%;
    padding: 10px;
    font-size: 26px;
  }


  // 你可能感兴趣的，用户推荐
  .interested {
    padding-top: 10px;
    margin-bottom: 40px;
    height: 360px;

    .btn-toggle {
      border: none;
      background: none;
      margin: 0;
      font-size: 28px;
      padding-right: 0;

      &:after {
        border: none;
      }
    }

    &-users {
      display: flex;
      height: 280px;


      &__item {
        flex-shrink: 0;
        display: block;
        width: 240px;
        height: 280px;
        text-align: center;
        margin-right: 20px;

        .avatar {
          width: 100px;
          height: 100px;
          margin: 20px auto;
        }

        .btn-focus {
          width: 130px;
          height: 50px;
          line-height: 50px;
          background: rgba(241, 39, 55, 1);
          color: white;
          font-size: 28px;
          border: none;
          border-radius: 6px;
          margin-top: 20px;

          &:after {
            border: none;
          }
        }
      }
    }
  }
}
