.info {
  height: 100%;
  min-height: 100vh;
  background-color: #f2f2f2;
  padding-top: 1px;

  .cover {
    display: block;
    width: 94%;
    height: 380px;
    margin: 20px auto;
    background-color: #ccc;
    border-radius: 10px;
  }

  .at-list {
    margin: 3%;
    border-radius: 10px;

    &__item {
      font-size: 28px;

      &-extra {
        max-width: 80%;

        .item-extra__info {
          font-size: 28px;

        }
      }
    }
  }

}
