.fixed-button {
  color: white;
  width: 690px;
  height: 80px;
  background: rgba(241, 39, 55, 1);
  border-radius: 40px;
  position: fixed;
  bottom: 2vh;
  left: 0;
  right: 0;
  font-size: 34px;
  line-height: 80px;
  border: none;

  &:after {
    border: none;
  }
}
