.index{
  background: linear-gradient(top,#E83B3C,#F82B2B);
  min-height: 100vh;
  height: 100%;
  padding-bottom: 30px;
  .img{
    width: 100%;
  }
  .center{
    position: relative;
    background: #fff;
    width: 90%;
    margin: 0 5%;
    border-radius: 20px;
    .img{
      width: 290px;
      height: 256px;
      margin-top: 70px;
      margin-bottom: 47px;
    }
    .title-img{
      background: url("../../statics/imgs/code.png") no-repeat center;
      background-size: cover;
      width: 438px;
      height: 86px;
      text-align: center;
      line-height: 70px;
      font-size: 26px;
      color: #fff;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      top: -36px;
    }
    .view{
      display: inline-block;
      width:220px;
      height: 60px;
      background: #F12735;
      color: #fff;
      border-radius: 100px;
      text-align: center;
      line-height: 60px;
      margin-left: calc(50% - 110px);
      margin-bottom: 30px;
    }
    .join-img{
      width: 23px;
      height: 70px;
      position: absolute;
    }
  }
  .footer{
    background:#fff;
    width: calc(90% - 80px);
    margin: 0 5%;
    border-radius: 20px;
    margin-top:70px;
    padding: 30px 40px;
    .flex{
      justify-content: center;
      align-items: center;
      .text{
        margin: 0 20px;
        font-weight: 600;
        color:#F12735 ;
        font-size: 26px;
      }
      .rotate{
        transform: rotate(180deg);
      }
    }
    .last-footer{
        .view{
          margin-bottom: 35px;
          .f__size--24{
            margin-bottom: 10px;
            font-weight: 600;
          }
        }
    }
  }
}
