/* Custom Theme */
$color-brand: #eb3939;
$color-brand-light: #f06b6b;
$color-brand-dark: #bc2e2e;

@import "~taro-ui/dist/style/index.scss";


// 公用样式
.inline {
  display: inline;

  &--block {
    display: inline-block;
  }
}

.block {
  display: block;
}

.none {
  display: none;
}

.bg-color {
  &--white {
    background-color: white !important;
  }

  &--f2f2f2 {
    background-color: #f2f2f2 !important;
  }

  &--F12737 {
    background-color: #F12737 !important;
  }

}

.flex {
  display: flex;

  &__1 {
    flex: 1;
  }

  &__2 {
    flex: 2;
  }
}

.a__items--center {
  align-items: center;
}


.j__content {
  &--start {
    justify-content: start;
  }

  &--spbe {
    justify-content: space-between;
  }
}

.text {
  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  // 删除线效果
  &--line-through {
    text-decoration: line-through;
  }

}

.vertical {
  &--middle {
    vertical-align: middle;
  }

  &--top {
    vertical-align: top;
  }

  &--bottom {
    vertical-align: bottom;
  }

  &--center {
    vertical-align: center;
  }
}

.f {
  &__size {
    font-size: initial;

    &--12 {
      font-size: 12px;
    }

    &--13 {
      font-size: 13px;
    }

    &--14 {
      font-size: 14px;
    }

    &--15 {
      font-size: 15px;
    }

    &--16 {
      font-size: 16px;
    }

    &--17 {
      font-size: 17px;
    }

    &--18 {
      font-size: 18px;
    }

    &--19 {
      font-size: 19px;
    }

    &--21 {
      font-size: 20px;
    }

    &--22 {
      font-size: 22px;
    }

    &--23 {
      font-size: 23px;
    }

    &--24 {
      font-size: 24px;
    }

    &--25 {
      font-size: 25px;
    }

    &--26 {
      font-size: 26px;
    }

    &--27 {
      font-size: 27px;
    }

    &--28 {
      font-size: 28px;
    }

    &--29 {
      font-size: 29px;
    }

    &--30 {
      font-size: 30px;
    }
  }

  &__weight {
    font-weight: inherit;

    &--bold {
      font-weight: bold;
    }
  }

}

.c {
  &--fff {
    color: #fff;
  }

  &--010 {
    color: #101010;
  }

  //常用红色
  &--eb3 {
    color: #EB3939;
  }

  &--808 {
    color: #808080;
  }

  &--333 {
    color: #333;
  }

  &--666 {
    color: #666;
  }

  &--999 {
    color: #999;
  }

  &--faf {
    color: #fafafa;
  }

  &--4d4 {
    color: #4d4d4d;
  }
}

.overhide {
  overflow: hidden;
}

.ellipsis {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &-2 {
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    font-size: 0;
  }
}

.container {
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: white;
}

.margin {

  margin: 0;

  &--auto0 {
    margin: auto 0;
  }

  &--10 {
    margin: 10px;
  }


  &-top {
    &--auto {
      margin-top: auto;
    }

    &--10 {
      margin-top: 10px;
    }

    &--20 {
      margin-top: 20px;
    }

    &--30 {
      margin-top: 30px;
    }

    &--40 {
      margin-top: 40px;
    }
  }

  &-right {
    &--auto {
      margin-right: auto;
    }

    &--10 {
      margin-right: 10px;
    }

    &--20 {
      margin-right: 20px;
    }

    &--30 {
      margin-right: 30px;
    }

    &--40 {
      margin-right: 40px;
    }
  }

  &-bottom {
    &--auto {
      margin-bottom: auto;
    }

    &--10 {
      margin-bottom: 10px;
    }

    &--20 {
      margin-bottom: 20px;
    }

    &--30 {
      margin-bottom: 30px;
    }

    &--40 {
      margin-bottom: 40px;
    }
  }

  &-left {
    &--auto {
      margin-left: auto;
    }

    &--10 {
      margin-left: 10px;
    }

    &--20 {
      margin-left: 20px;
    }

    &--30 {
      margin-left: 30px;
    }

    &--40 {
      margin-left: 40px;
    }
  }
}

.small-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  line-height: 100px;
}


// 覆盖at-ui的默认样式
.at-search-bar::after {
  border: none; //去掉搜索组件下边框
}
